{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <main>
        <div class="container">
<h1>Смена пароля</h1>
<p>Пожалуйста, введите свой старый пароль в целях безопасности, а затем дважды введите свой новый пароль, чтобы мы могли убедиться, что вы ввели его правильно.</p>
<form class="form-change-pass" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="change-pass-button"  type="submit" value="Изменить мой пароль">
</form>
        </div>
    </main>
{% endblock %}