<!DOCTYPE html>
<html lang="ru">

<head>
    {%load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Быстрее света{% endblock title %}</title>
</head>

<body>
    <header>
        <nav class="container header-nav">
            <a href="{%url 'home'%}">
                <img src="{% static "image/logo.png" %}" alt="лого" height="70" width="70">
            </a>
            <ul class="nav-list">
               {% if user.role_id.name == 'Клиент' or  not user.is_authenticated %}
                <li class="nav-list-item"><a href="{%url 'services'%}" style="color: #FFFFFF">Услуги</a></li>
                <li class="nav-list-item"><a href="{%url 'contact'%}" style="color: #FFFFFF">Контакты</a></li>
               {% else %}
                <li class="nav-list-item"><a href="{%url 'employeerpakages'%}" style="color: #FFFFFF">Посылки</a></li>
              {% endif %}
            </ul>
            <div class="signin">
                {% if user.is_authenticated %}
                    <a href="{%url 'account'%}" style="color: #FFFFFF">
                        <div class="user-header">
                            <img src="{% static "image/user2.png" %}" alt="лого" height="70" width="70">
                            <p class="user-header-p">{{user.username}}</p>
                        </div>
                    </a>
                    <a href="{% url 'logout' %}" style="margin-left: 20px; color: #FFFFFF">Выход</a>
                {% else %}
                    <a href="{%url 'login'%}" style="color: #FFFFFF">Войти</a>
                    <a href="{%url 'signup'%}" style="margin-left: 20px;color: #FFFFFF">Зарегистрироваться</a>
                {% endif %}
            </div>

        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="container header-nav">
            <a href="{%url 'home'%}">
                <img src="{% static "image/logo.png" %}" alt="лого" height="70" width="70">
            </a>
            <ul class="nav-list">
                <li class="nav-list-item"><a href="{%url 'services'%}" style="color: #FFFFFF">Услуги</a></li>
                <li class="nav-list-item"><a href="{%url 'contact'%}" style="color: #FFFFFF">Контакты</a></li>
            </ul>
            <p class="copiright">&copy; "Быстрее света" 2023</p>
        </div>
    </footer>
</body>

</html>