{% extends 'base.html' %}
{%load static %}
{% block title %}Главная{% endblock title %}
{% block content %}
<main>
    <div class="container">
        <h1>Логистическая компания "Быстрее света"</h1>
<!--        <img class="gaz" src="{% static "image/pngwing.png" %}" alt="газель">-->
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img class="gaz" src="{% static "image/pngwing.png" %}" class="d-block w-100" alt="Машина">
        <div class="carousel-caption d-none d-md-block">
        <h5>Бережно обращаемся с грузом</h5>
        <p>Эта машина доставит вашу полсылку в сохранности</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img  class="gaz" src="{% static "image/flypng.png" %}" class="d-block w-100" alt="Самолет">
        <div class="carousel-caption d-none d-md-block">
        <h5>Быстрая доставка</h5>
        <p>Этот самолет доставляет ваш груз</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="gaz" src="{% static "image/pngtrain.png" %}" class="d-block w-100" alt="Поезд">
        <div class="carousel-caption d-none d-md-block">
        <h5>Большие объемы</h5>
        <p>Этот поезд переввезет любое количество посылок</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
        <p class="p-main">
            <img style="width: 180px;" src="{% static "image/logistics.png" %}" alt="точка1">
            Погрузитесь в безграничные возможности логистики вместе с компанией "Быстрее света"!</p>

        <p class="p-main">
            <img style="width: 180px;" src="{% static "image/logistics2.png" %}" alt="точка2">
            Наша логистическая компания предлагает вам надежное решение для эффективной доставки товаров, которое
            поможет вам преодолеть любые границы и превратит ваш бизнес в успешную и динамично развивающуюся
            организацию.
        </p>


        <p class="p-main">
            <img style="width: 180px;" src="{% static "image/logistics3.png" %}" alt="точка3">
            Не важно, какой у вас тип товаров или какие требования к доставке. Мы предлагаем огромный выбор
            транспортных средств, от маленьких грузовиков до контейнеровозов, чтобы обеспечить вам оптимальное
            решение для вашего груза. Вам не придется беспокоиться о временных рамках или сложностях доставки – наша
            команда экспертов знает, как решить любые логистические вызовы, представленные перед ними.
        </p>


        <p class="p-main">
           <img style="width: 180px;" src="{% static "image/logistics4.png" %}" alt="точка4">
            Доверьте нам свою логистику, и мы сделаем все возможное для того, чтобы ваш бизнес стал еще более
            эффективным и прибыльным. Свяжитесь с нами прямо сейчас и начните использовать все преимущества нашей
            логистической компании "Быстрее света"</p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</main>
{% endblock %}