{% extends 'base.html' %}
{%load static %}
{% block title %}Главная{% endblock title %}
{% block content %}
<main>
    <div class="container">
        <h1>Логистическая компания "Быстрее света"</h1>
        <img class="gaz" src="{% static "image/pngwing.png" %}" alt="газель">
        <p class="p-main">
            <img style="width: 180px;" src="{% static "image/logistics.png" %}" alt="точка1">
            Погрузитесь в безграничные возможности логистики вместе с компанией "Быстрее света"!</p>

        <p class="p-main">
            <img style="width: 180px;" src="{% static "image/logistics2.png" %}" alt="точка2">
            Наша логистическая компания предлагает вам надежное решение для эффективной доставки товаров, которое
            поможет вам преодолеть любые границы и превратит ваш бизнес в успешную и динамично развивающуюся
            организацию.
        </p>


        <p class="p-main">
            <img style="width: 180px;" src="{% static "image/logistics3.png" %}" alt="точка3">
            Не важно, какой у вас тип товаров или какие требования к доставке. Мы предлагаем огромный выбор
            транспортных средств, от маленьких грузовиков до контейнеровозов, чтобы обеспечить вам оптимальное
            решение для вашего груза. Вам не придется беспокоиться о временных рамках или сложностях доставки – наша
            команда экспертов знает, как решить любые логистические вызовы, представленные перед ними.
        </p>


        <p class="p-main">
           <img style="width: 180px;" src="{% static "image/logistics4.png" %}" alt="точка4">
            Доверьте нам свою логистику, и мы сделаем все возможное для того, чтобы ваш бизнес стал еще более
            эффективным и прибыльным. Свяжитесь с нами прямо сейчас и начните использовать все преимущества нашей
            логистической компании "Быстрее света"</p>

    </div>
</main>
{% endblock %}