
{% extends 'base.html' %}
{%load static %}

{% block content %}
<main>
    <div class="container">


<form class="create-pakeges" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="flex-button">
        <button class="create-button" type="submit" id="calculate">Расчитать стоимость</button>
        <button class="create-button-2" type="submit">Создать</button>
    </div>
</form>

            </div>
</main>

<script>
document.addEventListener('DOMContentLoaded', function(){
document.getElementById("calculate").addEventListener("click", function(e){
    e.preventDefault();
    // Получаем значения веса и ширины
    var weight = parseFloat(document.getElementById("id_weight").value);
    var width = parseFloat(document.getElementById("id_width").value);
    var length = parseFloat(document.getElementById("id_length").value);
    var height = parseFloat(document.getElementById("id_height").value);
    // Проверяем, являются ли вес и ширина числами
    if (isNaN(weight) || isNaN(width)|| isNaN(length)|| isNaN(height) ||
     weight <= 0 || width <= 0|| length <= 0 || height <= 0) {
      alert("Пожалуйста, введите действительные числовые значения для веса и размера посылки.");
    } else {
      // Расчет стоимости
      var cost = weight * width * length * height * 50;
      document.getElementById("id_cost").value = Math.ceil(cost);
    }
  });
});
</script>
{% endblock %}