
{% extends 'base.html' %}
{%load static %}

{% block content %}
<main>
    <div class="container">


<form class="create-pakeges" method="post">

<!--      <p>-->
<!--    <label for="id_sending_address">Адрес отправки:</label>-->
<!--    <select name="sending_address" required id="id_sending_address">-->
<!--  <option value="" selected>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->

<!--  <option value="1">Свердловская Область, г.Екатеринбург, ул.Абрикосово, д.543, к.4</option>-->

<!--  <option value="2">Еврейская республика, г.Сочи, ул.Гогема, д.55</option>-->

<!--</select>-->

<!--    <label for="id_delivery_address">Адрес доставки:</label>-->
<!--    <input list="id_delivery_address" placeholder="somebody">-->
<!--    <datalist name="delivery_address"  id="id_delivery_address">-->
<!--    {%for adress in PointIssue %}-->
<!--    <option>{{adress.city}}</option>-->
<!--        {% endfor %}-->
<!--    </datalist>-->
    {% csrf_token %}
    {{ form.as_p }}

    <div class="flex-button">
        <button class="create-button" type="submit" id="calculate">Расчитать стоимость</button>
        <button class="create-button-2" type="submit">Создать</button>
    </div>

</form>

            </div>
</main>

<script>
document.addEventListener('DOMContentLoaded', function(){
document.getElementById("calculate").addEventListener("click", function(e){
    e.preventDefault();
    // Получаем значения веса и ширины
    var weight = parseFloat(document.getElementById("id_weight").value);
    var width = parseFloat(document.getElementById("id_width").value);
    var length = parseFloat(document.getElementById("id_length").value);
    var height = parseFloat(document.getElementById("id_height").value);
    var cargoCategoryId = document.getElementById("id_cargo_category").value;
var cargoCategoryDropdown = document.getElementById("id_cargo_category");

    // Проверяем, являются ли вес и ширина числами
    if (isNaN(weight) || isNaN(width)|| isNaN(length)|| isNaN(height) ||
     weight <= 0 || width <= 0|| length <= 0 || height <= 0) {
      alert("Пожалуйста, введите действительные числовые значения для веса и размера посылки.");
    } else {
      var selectedOption = cargoCategoryDropdown.options[cargoCategoryDropdown.selectedIndex];
        var optionText = selectedOption.text;
        var coefficientIndex = optionText.indexOf("коэф:") + 5; // 5 is the length of "коэф:"
        var coefficientString = optionText.substring(coefficientIndex).trim();
        var cargoCoefficient = parseFloat(coefficientString);

      console.log("Selected Option: " + selectedOption);
      console.log("Height: " + cargoCoefficient);
      var cost = weight * width * length * height * 50 * cargoCoefficient;
      document.getElementById("id_cost").value = Math.ceil(cost);
    }
  });
});
</script>
{% endblock %}