{% extends 'base.html' %}
{%load static %}
{% block title %}Услуги{% endblock title %}

{% block content %}
<main>
  <div class="container">
      <h2 style="text-align: center; margin-bottom: 20px;">Услуги</h2>
      <img class="loader" src="{% static "image/loader.png" %}" alt="грузчик">
      <div class="serv">
          <h3>Отследить Посылку</h3>
          <div class="serv-1">
            <label>Номер посылки:</label>
              <form  method="get" action="{% url 'services' %}">
                  {% csrf_token %}
                  <div class="serv-1">
            <input placeholder="Введите номер посылки"  class="check" type="text" name="tracking_number">
            <button class="check-bottom" type="submit" name="search_id">Отследить</button>
                  </div>
              </form>
          </div>
          <div class="results">
              {% if package %}
              <h2>Посылка Найдена</h2>
             <div class="finde-pakage">
                 <div class="str-find">
                     <h4>Номер посылки</h4>
                     <p>{{ package.id }}</p>
                 </div>
                 <div class="str-find">
                     <h4>Статус</h4>
                     <p>{{ package.status }}</p>
                 </div>
                 <div class="str-find">
                     <h4>Адрес отправки</h4>
                     <p>{{ package.sending_address }}</p>
                 </div>
                 <div class="str-find">
                     <h4>Адрес доставки</h4>
                     <p>{{ package.delivery_address }}</p>
                 </div>
                 <div class="str-find">
                     <h4>Вес(кг)</h4>
                     <p>{{ package.weight }}</p>
                 </div>
                 <div class="str-find">
                     <h4>Категория</h4>
                     <p>{{ package.cargo_category }}</p>
                 </div>
                 <div class="str-find">
                     <h4>Дата отправкии</h4>
                     <p>{{ package.date_of_receipt }}</p>
                 </div>
                 <div class="str-find">
                     <h4>Дата выдачи</h4>
                     <p>{{ package.date_of_issue }}</p>
                 </div>


             </div>
            {% else %}
                <img class="boxquestion" src="{% static "image/boxquestion.png" %}" alt="кубик">
            {% endif %}</div>

      </div>


<!--<div class="serv">-->
<!--    <h3>Пункты выдачи</h3> -->
<!--    <label for="id_city">Выберите город:</label>-->
<!--    <select id="id_city" name="city">-->
<!--        {% for city_info in cities %}-->
<!--            <option value="{{ city_info.city }}">{{ city_info.city }}</option>-->
<!--        {% endfor %}-->
<!--    </select>-->
<!--    <div id="selected_info">-->
<!--    &lt;!&ndash; The list of delivery points will be displayed here &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
      <div class="serv">
          <h3>Расчитать стоимость и создать заявку на перевозку</h3>
          {% if user.is_authenticated %}
          <p>Если вы отправляете посылку нашей компанией первый раз вам необходимо будет заполнить согласие на обработку
              данных в пункте выдачи или заполнить и принести с собой. Скачать шаблон можно по <a class="forgot-pass" href="#">ссылке </a></p>
          <a class="list-bottom" href="{% url 'createPakages'%}">Расчитать стоимость и создать заявку на перевозку</a>
            {% else %}
          <p id="accsess">Для расчета вам необходимо <a href="{% url 'login' %}" class="login">Войти</a> в аккаут</p>
          {%endif%}
      </div>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function(){
        // Handle city selection change
        $('#id_city').on('change', function(){
            var selectedCity = $(this).val();

            console.log('Selected city:', selectedCity);

            // Make AJAX request to get delivery points
            $.ajax({
                url: '{% url "get_delivery_points" %}',
                data: {'city': selectedCity},
                dataType: 'json',

                success: function(data){
                    console.log('AJAX success:', data);

                    var selectedInfoDiv = $('#selected_info');
                    selectedInfoDiv.empty();

                    var ul = $('<ul>');

                    $.each(data, function(index, point){
                        var liText = point.region + ', г.' + point.city + ', ул.' + point.street + ', д.' + point.home;
                        if (point.corpus) {
                            liText += ', к.' + point.corpus;
                        }

                        var li = $('<li>').text(liText);
                        ul.append(li);
                    });

                    selectedInfoDiv.append(ul);
                },
                error: function(xhr, status, error){
                    console.error('AJAX Error:', status, error);
                }
            });
        });
    });
</script>

{% endblock %}