{% extends 'base.html' %}
{%load static %}
{% block title %}Услуги{% endblock title %}

{% block content %}
<main>
  <div class="container">
      <h2 style="text-align: center; margin-bottom: 20px;">Услуги</h2>
      <img class="loader" src="{% static "image/loader.png" %}" alt="грузчик">
      <div class="serv">
          <h3>Отследить Посылку</h3>
          <div class="serv-1">
            <label>Номер посылки:</label>
              <form  method="get" action="{% url 'services' %}">
                  {% csrf_token %}
                  <div class="serv-1">
            <input placeholder="Введите номер посылки"  class="check" type="text" name="tracking_number">
            <button class="check-bottom" type="submit" name="search_id">Отследить</button>
                  </div>
              </form>
          </div>
          <div class="results">
              {% if package %}
              <h2>Посылка Найдена</h2>
             <div class="finde-pakage">
                 <div class="str-find">
                     <h3>Номер посылки</h3>
                     <p>{{ package.id }}</p>
                 </div>
                 <div class="str-find">
                     <h3>Статус</h3>
                     <p>{{ package.status }}</p>
                 </div>
                 <div class="str-find">
                     <h3>Адрес отправки</h3>
                     <p>{{ package.sending_address }}</p>
                 </div>
                 <div class="str-find">
                     <h3>Адрес доставки</h3>
                     <p>{{ package.delivery_address }}</p>
                 </div>
                 <div class="str-find">
                     <h3>Вес(кг)</h3>
                     <p>{{ package.weight }}</p>
                 </div>
                 <div class="str-find">
                     <h3>Дата отправкии</h3>
                     <p>{{ package.date_of_receipt }}</p>
                 </div>
                 <div class="str-find">
                     <h3>Дата доставки в пункт выдачи</h3>
                     <p>{{ package.delivery_date }}</p>
                 </div>

             </div>
            {% else %}
                <img class="boxquestion" src="{% static "image/boxquestion.png" %}" alt="кубик">
            {% endif %}</div>

      </div>
      <div class="serv">
          <a class="list-bottom" href="{% url 'createPakages'%}">Расчитать стоимость и создать заявку на перевозку</a>

      </div>
  </div>
</main>

{% endblock %}