
    {% extends 'base.html' %}

    {% block title %}Регистрация{% endblock %}

    {% block content %}
    <main>
    <div class="container">
    <h2 style="text-align: center; margin-bottom: 20px;">Регистрация</h2>
    <form class="form-sign" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <script>
                $(document).ready(function() {
                     $('#id_phone_number').mask('89999999999');
                    $('#id_passport').mask('9999999999');
                    });
        </script>

        <button class="sign-up" type="submit">Зарегистрироваться</button>
    </form>
    </div>
    </main>
    {% endblock content%}